<ng-container>
  <ng-container *ngIf="isDataLoaded">
  <app-tool-bar style="height:10%;display:block;" colourSelection="warn"></app-tool-bar>
  <div style="display:flex;height:90%;flex-direction: column;">
  <!-- <app-side-nav style="width:12%"
                [username]="username"></app-side-nav> -->
  <mat-drawer-container autosize style="width:100%">
      <app-tool-bar style="height: 9%;display:block;"
                    colourSelection="primary"
                    (toggleAddPanel)="toggleAddPanel()"
                    (filterNav)="leftDrawer.toggle()"
                    [breadcrumb]="breadcrumb"
                    [displayAddButton]="title === 'Order2'"
                    (routeToOutput)="routeTo($event)"
                    [allSearchOptions]="searchOptions"></app-tool-bar>
      <!-- <app-span-box [data]="statusData"></app-span-box> -->
      <div [ngClass]="isMobileView() ? 'mat-elevation-z8' : 'mat-elevation-z8 not-mobile'" style="margin-top: 16px;">
        <ng-container *ngIf="currentTable">
          <ng-container *ngIf="currentTable === 'outlet'">
            <app-table class="inline-block"
                      [tableData]="outletList"
                      (page)="pageChange($event)"
                      [size]="tableSize"
                      (selectedRow)="goToOrder2($event)"></app-table>
          </ng-container>
          <ng-container *ngIf="currentTable === 'order2' || currentTable === 'dashboard2'">
            <app-table class="inline-block"
                      [tableData]="order2List"
                      (page)="pageChange($event)"
                      [header]="header"
                      [size]="tableSize"
                      (actionSelected)="menuAction($event)"
                      [action]="action"
                      (checkBoxSelected)="updateStatus($event)"
                      (selectedRow)="toggleOrder2DetailPanel($event)"></app-table>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!currentTable">
          <app-order2-detail [ngClass]="isMobileView() ? '' : 'half-width block'"
                             [selectedRow]="selectedRow"
                             (reload)="reload()"
                             (goToOrder)="goToOrder2($event)"></app-order2-detail>
        </ng-container>
      </div> 
  </mat-drawer-container>
  </div>
  </ng-container>
</ng-container>