mat-drawer-container {
    height: 100%;
  }
  
.example-sidenav {
    width: 15%;
    background-color: #f4f4f4;
}

.example-sidenav-right {
    width: 40%;
    background-color: #f4f4f4;
}

// th, td {
//   text-align: center;
// }