<form [formGroup]="itemDetailForm" novalidate style="height: 100%;" enctype="multipart/form-data">
    <mat-card class="card">
        <div class="row">
            <mat-card-title class="col">Add New Item</mat-card-title>
            <div class="test-card">
                <mat-card-title class="col">
                    <mat-icon class="close" (click)="toggleSideNav.emit('close')">close</mat-icon>
                </mat-card-title>
            </div>
        </div>
        <mat-card-content style="display:inline;">
            <div class="img marginLeftRight">
                <mat-card class="fullHeight">
                    <mat-card-content style="display:inline-block;height:100%;">
                        <input #file type="file" style="display:none;"(change)="handleFileInput($event)" />
                            <div style="height:100%; object-fit: contain;">
                                <img width="100%" height="100%" *ngIf="imageUrl" [src]="imageUrl" class="image" />
                            </div>
                    </mat-card-content>
                </mat-card>
                <button mat-raised-button color="accent" (click)="file.click()">Accent</button>
            </div>
            <div class="row">
                <div class="col marginLeftRight">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Item Name" [value]="itemDetailForm.getRawValue()?.item_name" formControlName="item_name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col marginLeftRight">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Quantity" [value]="itemDetailForm.getRawValue()?.quantity" formControlName="quantity">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col marginLeftRight">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Package" [value]="itemDetailForm.getRawValue()?.package" formControlName="package">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="col marginLeftRight">
          <button mat-raised-button color="primary" type="submit" [disabled]="!itemDetailForm.dirty" (click)="submit()">Submit</button>
          <button mat-raised-button color="warn" type="submit" (click)="reset()">Reset</button>
        </mat-card-actions>
    </mat-card>
</form>
