<mat-card class="card white-color-text">
    <mat-card-title class="title white-color-text">Overview</mat-card-title>
    <mat-card-content style="display:inline;">
        <div *ngFor="let d of data">
            <br>
            <mat-label class="label white-color-text">{{ d.title }}</mat-label>
            <br>
            <br>
            <div class="row">
                <div class="col marginLeftRight">
                    <mat-label class="field white-color-text">{{ d.value }}</mat-label>
                </div>
            </div>
            <br>
            <br>
        </div>
    </mat-card-content>
</mat-card>

