.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 3%;
    margin-left: 3%;
}

.button-group {
    display: flex;
    flex-direction: row;
}

.button-radio {
    margin: 5%;
}

.radio-label {
    margin-top: 5%;
}

.card {
    height: 100%;
}

.close {
    cursor: pointer;
}