<ng-container *ngIf="isDataLoaded">
  <form [formGroup]="orderForm" novalidate style="height: 100%;">
    <mat-card class="card">
          <div class="row">
            <mat-card-title class="col">{{ getTitle() }}</mat-card-title>
            <div class="test-card">
              <mat-card-title class="col">
                <mat-icon class="close" (click)="toggleSideNav.emit()">close</mat-icon>
              </mat-card-title>
            </div>
          </div>
          <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Item Name</mat-label>
                <mat-select formControlName="item_name">
                  <mat-option *ngFor="let itemName of options.itemNameOptionList" [value]="itemName.item_name">
                    {{itemName.item_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Quantity" [value]="orderForm.getRawValue()?.quantity" formControlName="quantity">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Package" [value]="orderForm.getRawValue()?.package" formControlName="package">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="selectedRow">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Order Date</mat-label>
                <input matInput [matDatepicker]="pickerOrderDate" formControlName="order_date">
                <mat-datepicker-toggle matSuffix [for]="pickerOrderDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerOrderDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="selectedRow">
              <mat-form-field class="full-width">
                <input matInput placeholder="Order By" [value]="orderForm.getRawValue()?.order_by" formControlName="order_by">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Target Received Date</mat-label>
                <input matInput formControlName="target_received_date" [matDatepicker]="pickerTargetReceivedDate">
                <mat-datepicker-toggle matSuffix [for]="pickerTargetReceivedDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerTargetReceivedDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="selectedRow">
              <mat-form-field class="full-width">
                <input matInput placeholder="Delay (Day)" [value]="orderForm.getRawValue()?.delay_day" formControlName="delay_day">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Outlet</mat-label>
                <mat-select formControlName="outlet_name">
                  <mat-option *ngFor="let outletName of options.outletNameOptionList" [value]="outletName.outlet_name">
                    {{outletName.outlet_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Warehouse</mat-label>
                <mat-select formControlName="warehouse_name">
                  <mat-option *ngFor="let warehouseName of options.warehouseNameOptionList" [value]="warehouseName.warehouse_name">
                    {{warehouseName.warehouse_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="selectedRow">
              <mat-radio-group class="button-group" formControlName="order_received">
                <mat-label class="radio-label">Received?      </mat-label>
                <mat-radio-button class="button-radio" value="Y">Yes</mat-radio-button>
                <mat-radio-button class="button-radio" value="N">No</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Arrived Date</mat-label>
                <input matInput formControlName="arrived_date" [matDatepicker]="pickerArrivedDate">
                <mat-datepicker-toggle matSuffix [for]="pickerArrivedDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerArrivedDate></mat-datepicker>
              </mat-form-field>
              <mat-radio-group class="button-group" formControlName="order_completed">
                <mat-label class="radio-label">Completed?      </mat-label>
                <mat-radio-button class="button-radio" value="Y">Yes</mat-radio-button>
                <mat-radio-button class="button-radio" value="N">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Remark" [value]="orderForm.getRawValue()?.remark" formControlName="remark"></textarea>
              </mat-form-field>
            </div>
          </div>
          </mat-card-content>
          <mat-card-actions class="col">
            <button mat-raised-button color="primary" type="submit" [disabled]="!orderForm.dirty" (click)="submit()">Submit</button>
            <button mat-raised-button color="warn" type="submit" (click)="reset()">Reset</button>
          </mat-card-actions>
      </mat-card>
  </form>
</ng-container>