<mat-grid-list [cols]="totalCols" rowHeight="5em">
    <mat-grid-tile
        *ngFor="let d of data"
        [colspan]="d.cols"
        [rowspan]="d.rows"
        [style.background]="d.color">
        <mat-grid-tile-header style="height:50%;">
        <div style="display:flex;flex-direction:column;margin-left:5px">
            <ng-container *ngIf="d.header1">
                <mat-label class="header1">{{d.header1}}</mat-label>
            </ng-container>
            <ng-container *ngIf="d.header2">
                <mat-label class="header2">{{d.header2}}</mat-label>
            </ng-container>
        </div>
      </mat-grid-tile-header>
      <mat-grid-tile-footer style="height:50%;">
      <div style="display:flex;flex-direction:column;">
          <ng-container *ngIf="d.footer1">
              <mat-label class="footer1">{{d.footer1}}</mat-label>
          </ng-container>
          <ng-container *ngIf="d.footer2">
              <mat-label class="footer2">{{d.footer2}}</mat-label>
          </ng-container>
      </div>
    </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>