<ng-container *ngIf="isDataLoaded">
  <form [formGroup]="form" novalidate style="height: 100%;">
    <mat-card class="card">
      <div class="row title">
        <mat-icon class="pointer" (click)="routeToOrder2()">arrow_back</mat-icon>
        <mat-card-title>
            {{ getTitle() }}
          </mat-card-title>
          </div>
          <mat-card-content>
            <div class="row">
              <div class="col-1">
                <span>
                  You are placing your order for {{ this.selectedRow.outlet_name }} on {{ this.selectedRow.order_date? this.selectedRow.order_date : today | date:'yyyy-MM-dd' }}
                </span>
              </div>
            </div>
            <br>
            <table>
              <tr>
                <th class="item" >Item</th>
                <th class="quan">Quantity</th>
                <th class="status">Completed?</th>
                <th class="remove"></th>
              </tr>
              <tr formArrayName="order_detail" *ngFor="let detail of orderDetails.controls; let i = index;">
                    <!-- <div class="row"> -->
                      <td class="padding-table" [formGroupName]="i">
                      <!-- <div class="col-3"> -->
                        <mat-form-field class="full-width">
                          <mat-select [required]="true" formControlName="item_id" (selectionChange)="onSelectChange($event, i)" [disabled]="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R') || !(accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                            <mat-option *ngFor="let itemName of itemNameOptionList" [value]="itemName.id">
                              {{itemName.item_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      <!-- </div> -->
                      </td>
                      <td class="padding-table" [formGroupName]="i">
                        <div class="quantity-column">
                      <!-- <div class="col-2"> -->
                          <button class="pointer quan-button" type="button" (click)="onChangeQuantity(detail, -1, i)" [disabled]="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R') || !(accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                            <mat-icon>remove</mat-icon>
                          </button>
                          <ng-container *ngIf="(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R')">
                            <input class="quantity" required id="quantity" type="number" min="0" formControlName="quantity" ng-disabled="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R') || !(accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                          </ng-container>
                          <ng-container *ngIf="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R')">
                            <input class="quantity" type="number" [value]="detail.get('quantity')?.value" disabled>
                          </ng-container>
                          <button class="pointer quan-button" type="button" (click)="onChangeQuantity(detail, 1, i)" [disabled]="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R') || !(accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </td>
                      <td class="padding-table" [formGroupName]="i">
                        <mat-checkbox color="primary" formControlName="status" [disabled]="!selectedRow?.status || selectedRow?.status === 'CAN'"></mat-checkbox>
                      </td>
                      <td class="padding-table">
                      <ng-container *ngIf="(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'NC') && (accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                        <div class="col-1">
                          <mat-icon class="pointer" (click)="removeItem(i)">delete</mat-icon>
                        </div>
                      </ng-container>
                      </td>
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </ng-container> -->
              </tr>
            </table>
            <br>
            <ng-container *ngIf="(!selectedRow?.status || selectedRow?.status === 'P') && (accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
              <div class="row">
                <div class="col-1">
                  <button class="add-item" type="button" mat-raised-button color="accent" (click)="addItem()">Add More Item</button>
                </div>
              </div>
            </ng-container>
            <br>
            <div class="row">
              <div class="col-1">
                <mat-form-field appearance="fill">
                  <mat-label>Target Received Date</mat-label>
                  <input matInput formControlName="received_date" [min]="today" [required]="true" [matDatepicker]="pickerTargetReceivedDate" [disabled]="!(!selectedRow?.status || selectedRow?.status === 'P' || selectedRow?.status === 'R') || !(accesses.includes('ORDER|ADD') || accesses.includes('ORDER|UPD'))">
                  <mat-datepicker-toggle matSuffix [for]="pickerTargetReceivedDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTargetReceivedDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <ng-container *ngIf="comments.length !== 0">
              <div class="row">
                <div class="col-1">
                  <h2>Remarks</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-1">
                  <div class="remark">
                    <ul>
                      <li *ngFor="let comment of comments;let i = index">
                        <ng-container *ngIf="comment.name">
                          <p class="name">{{ comment.name }}</p>
                          <p>{{ comment.comment }}</p>
                        </ng-container>
                        <ng-container *ngIf="!comment.name">
                          <p class="comment">{{ comment.comment }}</p>
                        </ng-container>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="row">
              <div class="col-1">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Remark" [value]="form.getRawValue()?.remark" formControlName="remark"></textarea>
                </mat-form-field>
              </div>
            </div>
            </mat-card-content>
            <mat-card-actions class="col-1">
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.dirty" (click)="submit()">Submit</button>
              <button mat-raised-button color="warn" type="button" (click)="reset()">Reset</button>
            </mat-card-actions>
        </mat-card>
    </form>
  </ng-container>