<!-- will do like select the button to be display,
  will seperate them into one template each -->
<ng-container *ngIf="isDataLoaded">
  <ng-container *ngIf="flag">
      <mat-toolbar color="primary" class="secondary toolbar">
        <div style="display:flex;align-items: center;width:100%;">
          <!-- <span>{{ setBreadcrumb() }}</span> -->
          <div class="breadcrumb" *ngFor="let b of breadcrumb;let i = index">
            <span [class]="(i % 2 === 0 && i !== breadcrumb.length-1)? 'pointer' : 'span'" (click)="routeTo(breadcrumb[i], i, breadcrumb.length - 1)">
              {{ breadcrumb[i] }}
            </span>
          </div>
          <div class="example-spacer">
            <ng-container *ngIf="displayFilterButton">
              <ng-template [ngTemplateOutlet]="filter"></ng-template>
            </ng-container>
            <ng-container *ngIf="displayAddButton">
              <ng-template [ngTemplateOutlet]="addNew"></ng-template>
            </ng-container>
          </div>
        </div>
      </mat-toolbar>
  </ng-container>
  <ng-container *ngIf="!flag">
    <mat-toolbar color="warn" class="main toolbar">
      <div style="display:flex;align-items: center;width:100%;">
        Welcome  {{username}}
        <div class="example-spacer">
          <ng-template [ngTemplateOutlet]="logout"></ng-template>
        </div>
      </div>
    </mat-toolbar>
  </ng-container>
<!-- order icon -->
  <ng-template #order>
    <div>
      <button mat-button (click)="goToOrder()">Order</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #home >
    <div>
      <button mat-button (click)="goToHome()">Home</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #item >
    <div>
      <button mat-button (click)="goToHome()">Item</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #outlet >
    <div>
      <button mat-button (click)="goToOutlet()">Outlet</button>
    </div>
  </ng-template>
<!-- add new icon -->
  <ng-template #addNew >
    <div>
      <button mat-button color="white" (click)="goToAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #userApproval >
    <div>
      <button mat-button color="white" (click)="goToUserApproval()">User Approval</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #orderWarehouse >
    <div>
      <button mat-button color="white" (click)="goToOrderWarehouse()">Order</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #logout >
    <div>
      <button mat-button color="white" (click)="logOut()">Log Out</button>
    </div>
  </ng-template>
<!-- filter icon -->
  <ng-template #filter >
    <div>
      <button mat-button color="white" (click)="filterSearchCriteria()">Filter</button>
    </div>
  </ng-template>
</ng-container>