<!-- will do like select the button to be display,
  will seperate them into one template each -->
<ng-container *ngIf="isDataLoaded">
  <ng-container *ngIf="flag">
    <div class="side-nav-container">
      <mat-toolbar color="primary" class="secondary">
        <div style="display:flex;align-items: center;width:100%;">
          <button mat-icon-button (click)="goToSideNav()"><mat-icon>menu</mat-icon></button>
          <span>{{ title }}</span>
          <div class="example-spacer">
            <ng-template [ngTemplateOutlet]="addItem"></ng-template>
          </div>
        </div>
      </mat-toolbar>

      <!-- <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav>
          <mat-nav-list>
            <a mat-list-item routerLink="." *ngFor="let nav of filterNav" [routerLink]="['/'+getNav(nav)]">{{nav}}</a>
          </mat-nav-list>
        </mat-sidenav>
      </mat-sidenav-container> -->
    </div>
  </ng-container>
  <ng-container *ngIf="!flag">
    <mat-toolbar color="warn" class="main">
      <div style="display:flex;align-items: center;width:100%;">
        Welcome xxx
        <div class="example-spacer">
          <ng-template [ngTemplateOutlet]="logout"></ng-template>
        </div>
      </div>
    </mat-toolbar>
  </ng-container>
<!-- order icon -->
  <ng-template #order>
    <div>
      <button mat-button (click)="goToOrder()">Order</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #home >
    <div>
      <button mat-button (click)="goToHome()">Home</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #item >
    <div>
      <button mat-button (click)="goToHome()">Item</button>
    </div>
  </ng-template>
<!-- main icon -->
  <ng-template #outlet >
    <div>
      <button mat-button (click)="goToOutlet()">Outlet</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #addItem >
    <div>
      <button mat-button color="white" (click)="goToAdd()">Add Item</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #userApproval >
    <div>
      <button mat-button color="white" (click)="goToUserApproval()">User Approval</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #orderWarehouse >
    <div>
      <button mat-button color="white" (click)="goToOrderWarehouse()">Order</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #warehouse >
    <div>
      <button mat-button color="white" (click)="goToWarehouse()">Warehouse</button>
    </div>
  </ng-template>
<!-- add item icon -->
  <ng-template #logout >
    <div>
      <button mat-button color="white" (click)="logOut()">Log Out</button>
    </div>
  </ng-template>
</ng-container>